.Wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0 5% 5% 5%;
}

h2{
    color: #252933;
    margin: 0;
}

.form{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 100%;
    /*color: #252933;*/
}

.form input, textarea{
    outline: none;
    margin: 3% 0;
    padding: 2% 2% 2% 1%;
    width: 100%;
    line-height: 24px;
    box-sizing: border-box;
    font-size: 16px;
    color: #252933;

}

.form textarea{
    height: 20vh;
}

.form input, textarea:focus {
    outline: none;
}

.form button{
    font-size: 26px;
    height: 45px;
    width: calc(45px * 2.5);

    margin-top: 5%;
    font-family: Bahnschrift, sans-serif;

    border: orange 2px solid;
    color: white;
    background-color: orange;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.form button:hover{
    border:none;
    color: white;
    background-color: orange;
}

.invalidForm{
    display: inline-block;
    font-size: 15px;
    color: red;
    padding: 0;
    margin: 0;
}

.fullWidth{
    padding: 0;
    margin: 0;
    width: 100%;
}

a{
    text-decoration: none;
    color: #252933;
}

.error{
    color: red;
}

@media screen and (min-width:1000px) {
    .Wrapper h1{
        font-size: 3.5rem;
    }

    .Wrapper{
        display: flex;
        flex-flow: column;
        width: 40%;
        margin: 0 auto;
        padding-top: 5vh;
        align-items: center;
        justify-content: center;
    }

    .form input, textarea{
        margin: 1.5% 0;
    }

    .fullWidth{
        padding: 0;
        margin: 0;
        width: 100%;
        box-shadow: none;
    }

    .form button{
        font-size: 30px;
        height: 70px;
        width: calc(70px * 2.5);
        margin-top: 20px;
        color: #252933;
        background-color: white;
        border: orange 2px solid;
    }

    .form button:hover{
        box-shadow: 0 0 20px 0 rgba(199,143,22,0.5);
    }

}