.PortfolioPage{
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    background: #252933;
}

.PortfolioPage h1{
    font-size: 3.5rem;
    color: #fff;
}

.funProjects{
    display: none;
}

.PortfolioPage h2{
    margin-top: 1rem;
    text-align: start;
    font-size: 2rem;
    color: #fff;
}

.BigProjectsHeader{
    width: 100%;
    text-align: start;
}

.PortfolioItems{
    display: flex;
    flex-flow: column;
    align-items: center;
}

@media screen and (min-width: 1000px) {
    .PortfolioItems{
        flex-flow: row;
        align-items: center;
    }

    .funProjects{
        display: block;
    }
}