.Value{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    width: 70%;
    height: 70%;
    padding: 0;
    margin: 0;
}

.Border{
    width: 80%;
    height: 80%;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;

    border: 2px solid #FF9100;
    padding: 0;
    margin: 0;
}

.Border img{
    height: 50%;
    width: 50%;

    margin: -20% 0 0;
}