*{
    z-index: 10;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 3vw;

    width: 28vw;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

header ul{
    width: 100%;

    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li{
/* Nothing required here */
}

header ul li a{
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.3em;
}

.active{
    color: rgba(255, 255, 255, 0.9);
}

/* Footer */

footer{
    margin: 0;
    padding: 2vh 0;

    height: 10vh;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;

    background: #252933;
}

footer ul{
    color: #fff;

    list-style: none;
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

footer ul li{

}

footer p{
    color: #fff;
    opacity: 0.9;

}

footer p span{
    color: #d10000;
}

@media screen and (max-width: 1000px){
    header{
        display: none;
    }
}